.post_container {
  /* border: 3px solid purple; */
  padding: var(--post-vertical-padding) var(--post-horizontal-padding);
}

.post_content {
  /* border: 1px solid teal; */
  margin: 10% 0;
  font-size: calc(1.15rem * var(--text-scale-ratio, 1));
  padding: 0 0.75rem;
}

.post_item:first-of-type {
  margin-top: 24px;
  margin-top: 1.5rem;
}

/* .post_item {
  border: 1px dashed tomato;
} */

.post_title {
  font-size: calc(1.75rem * var(--text-scale-ratio));
  font-family: var(--text-sans-signature, "Source Sans Pro"), "Roboto", sans-serif;
  display: block;
  margin: 0.5rem 0;
  line-height: 1.6;
}

.post_info {
  /* border: 1px solid slategray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: var(--element-color-3);
  transition: color 0.5s ease-in-out;
}

.post_info div {
  /* border: 1px solid pink; */
  margin-right: 1rem;
  display: flex;
}

.post_info svg {
  height: 1rem;
  width: 1rem;
  fill: var(--element-color-4);
  stroke: none;
  margin-right: 6px;
  align-self: center;
  transition: fill 0.5s ease-in-out;
}

/* .post_info span {
  color: var(--element-color-3);
} */

/* .post_date {
  display: flex;
  align-self: center;
}
.post_length {
  display: flex;
  align-self: center;
}
.post_tags {
  display: flex;
  align-self: center;
} */

.post_date {}
.post_length {}
.post_tags {}

.post_preview {
  /* border: 1px solid hotpink; */
 line-height: 1.6;
 margin-bottom: var(--excerpt-vertical-margin);
}

.post_excerpt {
  /* border: 1px solid orange; */
  line-height: 1.6;
  margin-bottom: var(--excerpt-vertical-margin);
}

.pagelinks {
  /* border: 1px dashed pink; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin: 10% 0 5%;
  font-size: calc(1.15rem * var(--text-scale-ratio, 1));
}

.pagelinks span {
  width: 45%;
}

.pagelinks span:first-of-type {
  text-align: left;
}

.pagelinks span:last-of-type {
  text-align: right;
}

.link {
  color: var(--element-color-2);
  border-bottom: solid 2px var(--element-color-2);
  padding-bottom: 2px;
}

/* mobile */
@media screen and (max-width: 688px) {
  .pagelinks {
    /* border: 1px dashed purple; */
    justify-content: start;
  }
}