.normal {
  /* border: 1px dashed salmon; */
  text-align: center;
  width: 100%;
  font-size: calc(1rem * var(--text-scale-ratio, 1));
}

.floor {
  /* border: 1px dashed lightseagreen; */
  text-align: center;
  width: 100%;
  font-size: calc(1rem * var(--text-scale-ratio, 1));
  line-height: 1.5;
  position: absolute;
  left: 0;
  bottom: 1.5rem;
}

/* mobile */
@media screen and (max-width: 688px) {
  .normal {
    /* border: 1px dashed blue; */
    margin: 10% 0 0;
  }
  .floor {
    /* border: 1px dashed teal; */
    bottom: 0;
    margin-bottom: calc(var(--nav-height, 3rem) + 0.5rem);
  }
}
