.outerWrapper {
  /* border: 2px dashed tomato; */
  position: relative;
  z-index: 0;
  padding-bottom: 35%;
  height: 0;
  margin: 5%;
  margin-left: 0;
  margin-right: 3%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--text-sans-signature, sans-serif);
  border: 2px solid var(--font-color);
  box-shadow: 1rem 1rem 0 0 var(--font-color);
  color: var(--font-color);
  background-color: var(--background-color);
  /* opacity: 0.9; */
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  /* border: 3px dashed teal; */
}

.intro {
  /* border: 1px solid goldenrod; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_title {
  /* border: 1px dashed lightseagreen; */
  font-size: 36px;
  font-size: 2.25rem;
  font-size: 3vw;
  padding: 0 7%;
  margin-bottom: 2%;
}

.intro_caption {
  /* border: 1px dashed sandybrown; */
  font-size: 22px;
  font-size: 1.375rem;
  font-size: 1.75vw;
  padding: 0 7%;
  line-height: 1.4;
}

.wrapper:before {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: -1;
  width: 18vw;
  height: 18vw;
  width: calc(40vw * 0.35);
  height: calc(40vw * 0.35);
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  border: solid 3px var(--accent-color-border);
  right: -20%;
  bottom: -37%;
  transition: border 0.5s ease-in-out;
}

.wrapper:after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: -2;
  width: 18vw;
  height: 18vw;
  width: calc(40vw * 0.35);
  height: calc(40vw * 0.35);
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  background-color: var(--accent-color-circle);
  right: -21%;
  bottom: -32%;
  transition: background-color 0.5s ease-in-out;
}

/* MDPI laptop */
@media screen and (max-width: 1376px) {
  .wrapper:before {
    width: calc(40vw * 0.45);
    height: calc(40vw * 0.45);
    right: -18%;
    bottom: -37%;
  }
  .wrapper:after {
    width: calc(40vw * 0.45);
    height: calc(40vw * 0.45);
    right: -19%;
    bottom: -32%;
  }
}

/* tablet */
@media screen and (max-width: 1008px) {
  .intro_title {
    font-size: 32px;
    font-size: 2rem;
    font-size: 4.5vw;
  }
  .intro_caption {
    font-size: 20px;
    font-size: 1.25rem;
    font-size: 2.625vw;
  }
  .wrapper:before {
    width: calc(40vw * 0.55);
    height: calc(40vw * 0.55);
    right: -13%;
    bottom: -38%;
  }
  .wrapper:after {
    width: calc(40vw * 0.55);
    height: calc(40vw * 0.55);
    right: -15%;
    bottom: -32%;
  }
}

/* mobile */
@media screen and (max-width: 688px) {
  .outerWrapper {
    padding-bottom: 56.25%;
  }
  .wrapper {
    box-shadow: 0.5rem 0.5rem 0 0 var(--font-color);
  }
  .intro_title {
    font-size: 28px;
    font-size: 1.75rem;
    font-size: 6.5vw;
  }
  .intro_caption {
    font-size: 18px;
    font-size: 1.125rem;
    font-size: 4.5vw;
    line-height: 1.2;
  }
  .wrapper:before {
    width: calc(40vw * 0.75);
    height: calc(40vw * 0.75);
    right: -8%;
    bottom: -35%;
  }
  .wrapper:after {
    width: calc(40vw * 0.75);
    height: calc(40vw * 0.75);
    right: -10%;
    bottom: -32%;
  }
}
