.outerWrapper {
  position: relative;
  z-index: 0;
  padding-bottom: 35%;
  height: 0;
  /* margin: 5%; */
  margin-left: 0;
  margin-right: 3%;
  margin-top: 15%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--text-kick, "Poiret One"), var(--text-sans-signature, "Source Sans Pro"), sans-serif;
  border: 2px solid var(--font-color);
  box-shadow: 1rem 1rem 0 0 var(--font-color);
  color: var(--font-color);
  background-color: var(--background-color);
  /* opacity: 0.9; */
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    border 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

.intro {
  /* border: 1px solid goldenrod; */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_title {
  /* border: 1px dashed lightseagreen; */
  font-size: 64px;
  font-size: 4rem;
  font-size: 4vw;
  line-height: 1.5;
  padding-left: 10%;
  padding-right: 5%;
}

.intro_caption {
  /* border: 1px dashed sandybrown; */
  font-size: 32px;
  font-size: 2rem;
  font-size: 2vw;
  line-height: 1;
  padding-left: 12%;
  padding-right: 5%;
}

.meta {
  /* border: 1px dashed hotpink; */
  width: 40%;
  padding-top: 12%;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meta_item {
  /* border: 1px solid gold; */
  width: 100%;
  height: 27%;
}

.meta_icon {
  border: 1px solid burlywood;
  color: var(--font-color);
  transition: color 0.5s ease-in-out;
  width: 28px;
  width: 1.75rem;
  width: 1.8vw;
  height: 28px;
  height: 1.75rem;
  height: 1.8vw;
  vertical-align: middle;
  margin-left: 24px;
  margin-left: 1.5rem;
  margin-left: 8%;
  margin-right: 64px;
  margin-right: 4rem;
  margin-right: 20%;
}

.meta_text {
  font-size: 28px;
  font-size: 1.75rem;
  font-size: 1.8vw;
  vertical-align: middle;
}

a.meta_text {
  color: var(--element-color-1);
  cursor: pointer;
}

.meta:after {
  border: 2px solid var(--font-color);
  background-color: var(--accent-color-square);
  content: "";
  position: absolute;
  height: 100%;
  width: 25%;
  top: 25%;
  left: 0;
  z-index: -1;
  transition: border-color 0.5s ease-in-out;
}

.wrapper:before {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: -1;
  width: 18vw;
  height: 18vw;
  width: calc(40vw * 0.35);
  height: calc(40vw * 0.35);
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  border: solid 3px var(--accent-color-border);
  right: -20%;
  bottom: -37%;
  transition: border 0.5s ease-in-out;
}

.wrapper:after {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: -2;
  width: 18vw;
  height: 18vw;
  width: calc(40vw * 0.35);
  height: calc(40vw * 0.35);
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  background-color: var(--accent-color-circle);
  right: -21%;
  bottom: -32%;
  transition: background-color 0.5s ease-in-out;
}

/* MDPI laptop */
@media screen and (max-width: 1376px) {
  .wrapper:before {
    width: calc(40vw * 0.45);
    height: calc(40vw * 0.45);
    right: -18%;
    bottom: -37%;
  }
  .wrapper:after {
    width: calc(40vw * 0.45);
    height: calc(40vw * 0.45);
    right: -19%;
    bottom: -32%;
  }
  .meta_icon {
    width: 28px;
    width: 1.75rem;
    width: 2.5vw;
    height: 28px;
    height: 1.75rem;
    height: 2.2vw;
  }
  .meta_text {
    font-size: 28px;
    font-size: 1.75rem;
    font-size: 2.2vw;
  }
}

/* tablet */
@media screen and (max-width: 1008px) {
  .wrapper {
    box-shadow: 0.75rem 0.75rem 0 0 var(--font-color);
  }
  .intro_title {
    font-size: 48px;
    font-size: 3rem;
    font-size: 6vw;
  }
  .intro_caption {
    font-size: 24px;
    font-size: 1.5rem;
    font-size: 3vw;
  }
  .meta_icon {
    width: 20px;
    width: 1.25rem;
    width: 2.5vw;
    height: 20px;
    height: 1.25rem;
    height: 2.5vw;
    margin-left: 6%;
  }
  .meta_text {
    font-size: 20px;
    font-size: 1.25rem;
    font-size: 2.5vw;
  } 
  .meta:after {
    top: 25%;
    width: 20%;
  }
  .wrapper:before {
    width: calc(40vw * 0.55);
    height: calc(40vw * 0.55);
    right: -13%;
    bottom: -38%;
  }
  .wrapper:after {
    width: calc(40vw * 0.55);
    height: calc(40vw * 0.55);
    right: -15%;
    bottom: -32%;
  }
}

/* mobile */
@media screen and (max-width: 688px) {
  .outerWrapper {
    margin-top: 5%;
    padding-bottom: 56.25%;
    line-height: 1;
  }
  .wrapper {
    box-shadow: 0.5rem 0.5rem 0 0 var(--font-color);
  }
  .intro {
    width: 100%;
  }
  .intro_title {
    font-size: 32px;
    font-size: 2rem;
    font-size: 8vw;
    line-height: 1.2;
    margin-bottom: 0.25rem;
    padding-left: 10%;
    padding-right: 5%;
  }
  .intro_caption {
    font-size: 16px;
    font-size: 1rem;
    font-size: 5vw;
    line-height: 1.2;
    padding-left: 11%;
    padding-right: 5%;
  }
  .meta {
    width: 100%;
    /* justify-content: center; */
    padding-top: 0;
  }
  .meta_item {
    /* border: 1px solid green; */
    height: 27%;
  }
  .meta_icon {
    width: 16px;
    width: 1rem;
    width: 5vw;
    height: 16px;
    height: 1rem;
    height: 5vw;
    vertical-align: middle;
    margin: 2% 7% 0 13%;
  }
  .meta_text {
    font-size: 18px;
    font-size: 1.125rem;
    font-size: 5vw;
  }
  .meta:after {
    height: 120%;
    width: 9%;
    left: 11%;
    top: 7%;
  }
  .wrapper:before {
    width: calc(40vw * 0.75);
    height: calc(40vw * 0.75);
    right: -8%;
    bottom: -35%;
  }
  .wrapper:after {
    width: calc(40vw * 0.75);
    height: calc(40vw * 0.75);
    right: -10%;
    bottom: -32%;
  }
}
